{{ define "banner" }}
<section id="banner" style="background-image: url('{{ .Site.BaseURL }}css/images/light-bl.svg'), url('{{ .Site.BaseURL }}css/images/light-br.svg'), url('{{ .Site.BaseURL }}css/images/overlay.png'), url('{{ .Site.BaseURL }}images/hirschberg-panorama1.jpg')">
</section>
{{ end }}
{{ define "main" }}
<section class="wrapper style4 container">
    <div class="row">
        {{ $resources := .Resources }}
        {{ $data := (index .Site.Data .Site.Language.Lang).accomodations }}
        {{ $items := index $data .Page.Params.dataCategory }}
        {{ range $i, $entry := $items }}
        {{ if gt $i 0}}<hr class="sep"/>{{ end }}
        <a class="nopad" name="{{ .title | lower | urlize }}"></a>
        <div class="8u 12u(narrower)" style="clear:left">
            <section class="accomodation">
                <header>
                    <h3>{{ .title }}</a></h3>
                </header>
                {{if .location}}
                <label>{{ i18n "Lage" }}</label>
                <p class="intro">{{ .location }}</p>
                {{end}}
                {{ if .character }}
                <label>{{ i18n "Hauscharakter" }}</label>
                <p class="intro">{{ .character }}</p>
                {{end}}
                {{if .rooms}}
                <label>{{ i18n "Zimmer" }}</label>
                <p class="intro">{{ .rooms }}</p>
                {{end}}
                {{if .specials}}
                <label>{{ i18n "Besonderheiten" }}</label>
                <p class="intro">{{ .specials }}</p>
                {{end}}
                {{ if .price_info }}
                <label>{{ i18n "Preise" }}</label>
                <p class="intro">{{ .price_info }}</p>
                {{end}}
            </section>
        </div>
        <div class="4u 12u(narrower)">
            {{ if .image_prefix }}
                {{ $image := $resources.GetMatch .image_prefix }}
                {{ if $image }}
                    {{ $scaled := $image.Fit "200x200" }}
                    <img src="{{ $scaled.RelPermalink }}" width="{{ $scaled.Width }}" height="{{ $scaled.Height }}" alt="{{$scaled.Title}}">
                {{ else }}
                    {{ .image_prefix }}
                {{end}}
            {{ else if .image }}
                <img src="{{ $.Site.BaseURL }}{{ .image }}"/>
            {{ end }}
            <section class="contact">
                {{ with index $data.contacts .contact_id }}
                <h4>{{ i18n "contactTitle" }}</h4>
                <p class="intro">
                    {{ if .contact_lastname}}
                    {{ .contact_salutation }} {{ .contact_firstname }} {{ .contact_lastname }}
                    {{ else }}
                    {{ .company_name }}
                    {{ end }}<br/>
                    {{ .street }} {{ .house_number }}<br/>
                    {{ .zip }} {{ .city }}
                </p>
                <p class="intro">
                    {{ if .phone }}{{ i18n "Tel." }}: {{ .phone }}<br/>{{ end }}
                    {{ if .mobile }}{{ i18n "Handy" }}: {{ .mobile }}<br/>{{ end }}
                    {{ if .fax }}{{ i18n "Fax" }}: {{ .fax }}<br/>{{ end }}
                    {{ if .email_address }}<a href="mailto:{{ .email_address }}">{{ .email_address }}</a><br/>{{ end }}
                    {{ if .web_address }}<a href="{{ .web_address }}" target="_blank">{{ .web_address }}</a><br/>{{ end }}
                </p>
                {{ end }}
            </section>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ define "additional" }}
{{ end }}