<!-- Banner -->
<section id="banner" style="background-image: url('{{ .Site.BaseURL }}css/images/light-bl.svg'), url('{{ .Site.BaseURL }}css/images/light-br.svg'), url('{{ .Site.BaseURL }}css/images/overlay.png'), url('{{ .Site.BaseURL }}images/wald2.jpg')">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>{{ i18n "Urlaub in Hirschberg"}}</h2>
        </header>
        <p>
            {{ i18n "Entspannen und auftanken im Naturpark Arnsberger Wald," }}
            <br />
            {{ i18n "der grünen Lunge NRWs." }}
        </p>

    </div>

</section>