<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://www.hirschberg-sauerland.de" class="icon circle bhg"><span class="label">Hirschberg</span></a></li>
        <li><a href="https://twitter.com/HirschbergNRW" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="http://www.facebook.com/HirschbergimSauerland" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.hirschberg-sauerland.de/de/rss.xml" class="icon circle fa-rss"><span class="label">RSS-Feed</span></a></li>
        <li><a href="https://www.hirschberg-sauerland.de/index.php?id=373&type=150&L=0&tx_cal_controller%5Bcalendar%5D=1&tx_cal_controller%5Bview%5D=ics&cHash=b1aa5a58b6552eaba4eae2551f8d6d75" class="icon circle fa-calendar"><span class="label">iCal</span></a></li>
    </ul>

    <ul class="copyright">
        {{ if isset .Site.Params "copyright" }}
        <li>{{ .Site.Params.copyright | safeHTML }}</li>
        {{ end }}
        <li>{{ i18n "templateBy" }} <a href="https://html5up.net/twenty">HTML5 UP</a>.
            {{ i18n "portedBy" }} <a href="https://www.to-bra.de">to-bra IT Solutions</a></li>
    </ul>
</footer>