<!-- *** NAVBAR START ***-->
{{ $page := .Page }}
<nav id="nav">
    <ul>
        {{ $menus := .Site.Menus }}
        {{ range .Site.Menus.main }}
        {{ $is := $page.IsMenuCurrent "main" . }}
        {{ $has := $page.HasMenuCurrent "main" . }}
        <li class="{{ if .HasChildren }}submenu{{ end }}{{ if or ($is) ($has) }} current{{ end }}">
            {{ if .HasChildren }}
            <a href="{{ .URL }}">{{ .Name }}</a>
            <ul>
                {{ $id := .Identifier }}
                {{ range .Children }}
                <li class="{{ if $is }}current{{ end }}"><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
                {{ $addMenu := index $menus $id }}
                {{ range $addMenu }}
                  <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            {{ else }}
            <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            {{ end  }}
        </li>
        {{ end }}
        <li>
            <a href="#" class="button special">{{i18n "contactTitle"}}</a>
        </li>
    </ul>
</nav>
<!-- *** NAVBAR END ***-->
