<!-- *** NAVBAR START ***-->
{{ $page := .Page }}
<nav id="nav">
    <ul>
        {{ range .Site.Menus.main }}
        {{ $is := $page.IsMenuCurrent "main" . }}
        {{ $has := $page.HasMenuCurrent "main" . }}
        <li class="{{ if .HasChildren }}submenu{{ end }}{{ if or ($is) ($has) }}current{{ end }}">
            {{ if .HasChildren }}
            <a href="{{ .URL }}">{{ .Name }}</a>
            <ul>
                {{ range .Children }}
                <li class="{{ if $is }}current{{ end }}"><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            {{ else }}
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end  }}
        </li>
        {{ end }}
    </ul>
</nav>
<!-- *** NAVBAR END ***-->
