{{ if .Site.Params.topbar.enable }}
    <h1 id="logo">
        <img src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" width="40" />
        <a href="{{ .Site.BaseURL }}">{{ .Site.Params.topbar.text | safeHTML }}</a>
    </h1>
    {{ if .IsTranslated }}
    <div style="position: absolute; left: 30%; top: 0.75em;">
        <ul>
            {{ range .Translations }}
            <li>
                <a href="{{ .Permalink }}"><img src="{{ .Site.BaseURL }}images/flags/{{ .Lang }}.svg" height="25"/></a>
            </li>
            {{ end}}
        </ul>
    </div>
    {{ end }}
{{ end }}
