<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "header.html" . }}
</head>
<body class="index">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}
    </header>
    {{ block "banner" . }}
    {{ end }}
    <article id="main">
        {{ block "main" . }}
        {{ end }}

        {{ block "additional" . }}
        {{ end }}
    </article>

    {{ partial "footer.html" . }}

</div>
<!-- /#all -->

{{ partial "scripts.html" . }}

</body>
</html>
