{{ define "banner" }}
    {{ partial "banner.html" . }}
{{ end }}
{{ define "main" }}
<section class="wrapper style3 container">
    <div class="row">
        <div class="12u">
            {{ .Content }}
        </div>
    </div>
</section>

<section class="wrapper style3 container special">
    <div class="row">
    {{ $paginator := .Paginate (where .Data.Pages "Type" .Section) }}
    {{ range $paginator.Pages.ByWeight }}
        <div class="6u 12u(narrower)">
            <section>
                <a href="{{ .Permalink }}" class="image featured">
                    {{ if .Params.banner }}
                    <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" alt="{{.Title}}" />
                    {{ else }}
                    <img src="{{ .Site.BaseURL}}images/banner.jpg" alt="">
                    {{ end }}
                </a>
                <header>
                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                </header>
                <p class="intro">{{ .Params.teaser }}</p>
                <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}...</a>
            </section>
        </div>
    {{ end }}
    </div>
</section>
{{ end }}
{{ define "additional" }}
{{ $data := index .Site.Data .Site.Language.Lang .Section }}
{{ if $data }}
<section class="wrapper style4 container">
    <div class="row">
        {{ range $data.sonstige.entries }}
        <div class="4u 12u(narrower)">
            <section>
                <header>
                    <h3>{{ .title }}</a></h3>
                </header>
                <p class="intro">{{ .description }}</p>
            </section>
        </div>
        <div class="1u 12u(narrower)">
        </div>
        <div class="7u 12u(narrower)">
            <section>
                {{ range $index, $entry := .links }}
                {{ if gt $index 0}}
                <hr class="sep"/>
                {{end}}
                <h4>{{ .title }}</h4>
                {{ if .logo }}
                <img style="float: left; width: 100px; padding: 5px; margin: 10px;" src="{{ $.Site.BaseURL }}{{ .logo }}" alt="{{ i18n "Logo" }} {{ .title }}"/>
                {{ else if .icon }}
                <span style="float: left; width: 100px; margin: 10px" class="icon featured {{ .icon }}"></span>
                {{ end }}
                <p>
                    {{.description}}<br/>
                    <a href="{{.link}}">{{.link}}</a>
                </p>
                {{ end }}
            </section>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}