<div class="4u 12u(narrower)">

    <section>
        {{if .Page.Params.Icon}}
        <a href='{{ .Page.RelPermalink }}' style="color: inherit;"><span class="icon featured {{ .Page.Params.Icon }}"></span></a>
        {{end}}
        <header>
            <h3><!--[--><a href='{{ .Page.RelPermalink }}'>{{ .Page.Title }}</a><!--]--></h3>
        </header>
        <p>
            {{ if .Page.Params.teaser }}
            {{.Page.Params.teaser}}
            {{else}}
            {{ .Page.Summary }}
            {{end}}
            <br/>
            <a href='{{ .Page.RelPermalink }}'>{{ i18n "continueReading" }}...</a>
        </p>
    </section>

</div>