<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "header.html" . }}
</head>
<body class="index">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}
    </header>

    {{ partial "banner.html" . }}

    <article id="main">
        <section class="wrapper style3 container special">
            <div class="row">
                <header>
                    <h2>Gestalten Sie Ihre Freizeit aktiv!</h2>
                </header>
                {{ $paginator := .Paginate (where .Data.Pages "Type" "freizeit") }}
                {{ range $paginator.Pages.ByWeight }}
                    {{ if in .Params.Categories "freizeit" }}
                    <div class="6u 12u(narrower)">
                        <section>
                            <a href="{{ .Permalink }}" class="image featured">
                                {{ if .Params.banner }}
                                <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" alt="" />
                                {{ else }}
                                <img src="{{ .Site.BaseURL}}images/banner.jpg" alt="">
                                {{ end }}
                            </a>
                            <header>
                                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                            </header>
                            <p class="intro">{{ .Params.teaser }}</p>
                            <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}...</a>
                        </section>
                    </div>
                    {{ end }}
                {{ end }}
            </div>
        </section>

        <section class="wrapper style4 container">
            <div class="row">
                {{ range .Site.Data.freizeit.sonstige.entries }}
                <div class="5u 12u(narrower)">
                    <section>
                        <header>
                            <h3>{{ .title }}</a></h3>
                        </header>
                        <p class="intro">{{ .description }}</p>
                    </section>
                </div>
                <div class="2u 12u(narrower)">
                    {{ if .banner }}
                    <img src="{{ .Site.BaseURL}}{{ .banner }}" alt="" />
                    {{ else }}
                    <span class="icon featured {{ .icon }}"></span>
                    {{ end }}
                </div>
                <div class="5u 12u(narrower)">
                    <section>
                        {{ range $index, $entry := .links }}
                        {{ if gt $index 0}}
                        <hr class="sep"/>
                        {{end}}
                        <p>
                            {{.description}}<br/>
                            <a href="{{.link}}">{{.link}}</a>
                        </p>
                        {{ end }}
                    </section>
                </div>
                {{ end }}
            </div>
        </section>

    </article>

    {{ partial "footer.html" . }}

</div>
<!-- /#all -->

{{ partial "scripts.html" . }}

</body>
</html>
