{{ define "banner" }}
<section id="banner" style="background-image: url('{{ .Site.BaseURL }}css/images/light-bl.svg'), url('{{ .Site.BaseURL }}css/images/light-br.svg'), url('{{ .Site.BaseURL }}css/images/overlay.png'), url('{{ .Site.BaseURL }}images/hirschberg-panorama1.jpg')">
</section>
{{ end }}
{{ define "main" }}
<section class="wrapper style3 container special">
    <div class="row">
        {{ .Content }}
    </div>
</section>

<section class="wrapper style3 container special">
    <div class="row">
    {{ $paginator := .Paginate (where .Data.Pages "Type" .Section) }}
    {{ range $paginator.Pages.ByWeight }}
        {{ if in .Params.Categories .Section }}
        <div class="6u 12u(narrower)">
            <section>
                <a href="{{ .Permalink }}" class="image featured">
                    {{ if .Params.banner }}
                    <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" alt="{{.Title}}" />
                    {{ else }}
                        {{ range .Resources.ByType "image" }}
                            {{ if .Params.banner }}
                            {{ $scaled := .Fill "575x370" }}
                                <img src="{{ $scaled.RelPermalink }}" width="{{ $scaled.Width }}" height="{{ $scaled.Height }}" alt="{{$scaled.Title}}">
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </a>
                <header>
                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                </header>
                <p class="intro">{{ .Params.teaser }}</p>
                <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}...</a>
            </section>
        </div>
        {{ end }}
    {{ end }}
    </div>
</section>
{{ end }}
{{ define "additional" }}
<section class="wrapper style4 container">
    <div class="row">
        {{ $data := index .Site.Data .Site.Language.Lang .Section }}
        {{ range $i, $entry := $data.sonstige.entries }}
        {{ if gt $i 0}}
        <hr class="sep"/>
        {{end}}
        {{ if isset . "cols" }}
            {{ $.Scratch.Set "firstCol" .cols }}
        {{ else }}
            {{ $.Scratch.Set "firstCol" 4 }}
        {{ end }}
        {{ $firstCol := $.Scratch.Get "firstCol" }}
        {{ $lastCol := sub 11 $firstCol }}
        <a class="nopad" name="{{ .title | lower | urlize }}"></a>
        <div class="{{ $firstCol }}u 12u(narrower)" style="clear:left">
            <section>
                <header>
                    <h3>{{ .title }}</a></h3>
                </header>
                <p class="intro">
                    {{ .description }}
                    {{ if .quote }}
                    <span class="quote">[Quelle: {{.quote}}]</span>
                    {{ end }}
                </p>
            </section>
        </div>
        {{ if gt $lastCol 1 }}
        <div class="1u 12u(narrower)">
        </div>
        {{ end }}
        <div class="{{ if le $lastCol 0 }}invert-pad 12{{ else }}{{ $lastCol }}{{ end }}u 12u(narrower)">
            <section>
                {{ range $index, $entry := .links }}
                {{ if gt $index 0}}
                <hr class="sep"/>
                {{end}}
                <h4>{{ .title }}</h4>
                {{ if .logo }}
                <img style="float: left; width: 100px; padding: 5px; margin: 10px;" src="{{ $.Site.BaseURL }}{{ .logo }}" alt="{{ i18n "Logo" }} {{ .title }}"/>
                {{ else if .icon }}
                <span style="float: left; width: 100px; margin: 10px" class="icon featured {{ .icon }}"></span>
                {{ end }}
                <p>
                    {{.description}}<br/>
                    <a href="{{.link}}">{{ if isset . "linkTitle"}}{{ .linkTitle }}{{ else }}{{ .link }}{{ end }}</a>
                </p>
                {{ end }}
            </section>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}