{{ $original := .Page.Resources.GetByPrefix (.Get "name") }}
{{ $command := .Get "command" }}
{{ $options := .Get "options" }}
{{ $caption := .Get "caption" }}
{{ if eq $command "Fit"}}
    {{ .Scratch.Set "image" ($original.Fit $options) }}
{{ else if eq $command "Resize"}}
    {{ .Scratch.Set "image" ($original.Resize $options) }}
{{ else if eq $command "Fill"}}
    {{ .Scratch.Set "image" ($original.Fill $options) }}
{{ else }}
    {{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
{{ end }}
{{ $image := .Scratch.Get "image" }}
<figure {{ if .Get "class" }} class="{{.Get "class"}}"{{ end }}>
    <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
    {{ if $caption }}
    <figcaption>
        <small>{{ $caption }}</small>
    </figcaption>
    {{ end }}
</figure>