<div class="oax-top-cont 8u 12u(narrower)"></div>
<script type="text/javascript">
  var conf = {
    frontendtype:   "tour",          // choose content type
    zoom:           13,              // set initial zoom level
    center:       [ 8.276003, 51.429775 ], // set initial map center
    initMode: "listMap",
    whatType: "none",
    whereType: "none"
  };
  var fvp = oa.api.flexviewpage( conf );
  fvp.setDataPointList( [
    '1379570', // Sauerland Waldroute nach Warstein
    '109657720', // Mehr seen: Hirschberg - Sedansteich - Bilsteinhöhle
    '111703931', // A7 Halletal
    '111703933' // A5 Halletal, grosse Runde
  ] );
</script>